streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
#chromadb
faiss-cpu
langchain_google_genai
#pytesseract
pdf2image
pillow
tiktoken
pycryptodome
PyMuPDF
pymupdf
pytesseract==0.3.10
Pillow
requests
langchain_community
scikit-learn
numpy